<template>
  <v-container fill-height class="d-flex pa-0 ma-0">
    <v-col class="shrink py-6 fill-height">
      <v-expansion-panels accordion focusable>
        <v-expansion-panel>
          <v-expansion-panel-header>
              <v-icon class="pr-2">mdi-database</v-icon>
              <v-list-item-title>{{ database.name }}</v-list-item-title>
            </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-list >
              <v-list-item
                v-for="(table, index) in database.tables"
                :key="index"
                class="py-0 ma-0"
                @click="currtable=table"
              >
                <v-list-item-icon>
                  <v-icon>mdi-table-large</v-icon>
                </v-list-item-icon>
                <v-list-item-title  class="py-0 ma-0">{{ table.name }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>

    <v-divider vertical class="px-1"></v-divider>
    
    <v-col class="fill-height">
      <v-row class="flex-column fill-height px-auto mx-auto">
        <v-col class="shrink mx-0 px-0">
          <v-slide-group
            multiple
            show-arrows
            >
            <v-slide-item
              v-for="([operationIcon,operationName],i) in operations"
              :key="i"
            >
            
              <v-btn
                class="mx-2"
                active-class="purple white--text"
                depressed
                rounded
              >
                <v-icon class="pr-2" small v-if="operationIcon">{{operationIcon}}</v-icon>
                {{operationName}} 
              </v-btn>
            </v-slide-item>
          </v-slide-group>
        </v-col>
        
        <v-col class="shrink">
          <v-row>
            <v-col>
              <!-- <v-card> -->
                <!-- <blockquote> -->
                  <v-textarea outlined rows="10" hide-details>
                  </v-textarea>
                <!-- </blockquote> -->
              <!-- </v-card> -->
              <v-btn
                depressed
                rounded
                class="my-2"
              >
              Run Query 
              </v-btn>
            </v-col>              
            <v-col class="shrink fill-height" v-if="currtable">
              <v-expansion-panels accordion focusable>
                <v-expansion-panel>
                  <v-expansion-panel-header>
                      <v-icon class="pr-2">mdi-table-large</v-icon>
                      <v-list-item-title>{{ currtable.name }}</v-list-item-title>
                    </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-list >
                      <v-list-item
                        v-for="(item,name) in currtable.data[0]"
                        :key="name"
                        class="py-0 ma-0"
                      >
                        <v-list-item-icon>
                          <v-icon>mdi-table-column</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title  class="py-0 ma-0">{{ name }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
          </v-row>

          
          
          <v-divider></v-divider>
        </v-col>
        

        <v-col class="px-0">
          <Table :currtable="currtable" v-if="currtable"/>
        </v-col>
      </v-row>

    </v-col>
  </v-container>
</template>

<script>
import Table from './table'
export default {
  props:['database'],

  components:{
    Table
  },

  data:()=>({
    currtable:"",
    operations : [
      ["mdi-plus",  "Insert"],
      ["",  "Select *"],
      ["",  "Select"],
      ["mdi-delete",  "Delete"],
      ["",  "Update"],
      // ["",  "Select"],
    ],
  }),

  methods:{
    test(){

    }
  }

}
</script>

<style>

</style>