<template>
  <v-container>   
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th 
              v-for="(item,name) in currtable.data[0]"
              :key="name"
            >{{(name)}}</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            v-for="(item,i) in currtable.data"
            :key="i"
            >
            <td
              v-for="(data,j) in item"
              :key="j"
            >
            {{data}}
            </td>
          </tr>

        </tbody>
      </template>
    </v-simple-table>
  </v-container>
</template>

<script>
export default {
  props:['currtable']
}
</script>

<style>

</style>