<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
    >
      <div class="d-flex align-center">
        <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Atlan</v-toolbar-title>
      </div>  
    </v-app-bar>
    <v-main>
      <v-container fluid fill-height class="py-0">  
        <v-row class="fill-height">
          
          <v-col class="shrink">
            <v-container>
              <Menu :compName.sync="componentName" :database.sync="database"/>
              <!-- <v-list
                dense
                nav
              >
                <v-list-item
                  v-for="([icon, text], i) in operations"
                  :key="i"
                  link
                  >
                  <v-list-item-icon>
                    <v-icon>{{ icon }}</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>{{ text }}</v-list-item-title>
                  </v-list-item-content>

                </v-list-item>
              </v-list> -->
            </v-container>
          </v-col>

          <v-divider vertical class="px-0"></v-divider>

          <v-col class="py-0">
            <component :is="componentName" :database.sync="database"></component>
          </v-col>
        
        </v-row>      
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

import Menu from './components/menu'
import Database from './components/database'

export default {
  name: 'App',

  components: {
    Menu,
    Database,
  },

  data: () => ({
    drawer: true,
    componentName: "",
    database:""
  }),

  mounted(){
    console.log(performance.now()-start)
  }
};
</script>
